.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  .about-text-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .about-heading {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #00ff00; /* Green accent */
  }
  
  .about-text {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .about-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    max-width: 80%; /* Adjust the percentage to reduce the image size */
    max-height: 300px; /* Limit the height if necessary */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  